<p id="notice"><%= notice %></p>

<h1>Mock Servers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mock_servers.each do |mock_server| %>
      <tr>
        <td><%= link_to mock_server.name, mock_server %></td></tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mock Server', new_mock_server_path %>
